name: Site quality check

on:
  push:
    branches: [ "main" ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: HTML validation
        uses: Cyb3r-Jak3/html5validator-action@v7
        with:
          root: .

      - name: Check broken links
        uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose --no-progress "**/*.html"
